<div class="description rte" data-tabs-enable="true{%-comment %} section.settings.tabs_enable {%- endcomment -%}">
  {%- assign description_parts = product.description | split: '<!-- split -->' -%}
  {%- assign description_first_part = description_parts | first -%}
  {%- if section.settings.tabs_enable or true -%}
    {%- comment -%}
      Split up the content of the description into tab titles and content by the auto_headings value
    {%- endcomment -%}
    <div class="description__tabs">
      {%- comment -%}
        Break up description into headings and tabs using auto heading values
      {%- endcomment -%}
      {%- assign auto_heading= '<' | append: section.settings.tabs_auto_headings | append: '>' -%}
      {%- assign auto_heading_end = '</' | append: section.settings.tabs_auto_headings | append: '>' -%}
      {%- assign desc_tabs = description_first_part | split: auto_heading -%}
      {%- assign first_tab = true -%}
      {%- for tab in desc_tabs -%}
        {%- assign tab_size = tab | strip_html | strip | size -%}
        {%- unless tab_size == 0 -%}
          {%- assign tab_parts = tab | split: auto_heading_end -%}
          <div class="tab tab--{{ forloop.index }} {% if first_tab %}tab--active {%- assign first_tab = false -%} {% endif %}">
            {%- if tab_parts.size > 1 -%}
              <div class="tab__title" tabindex="0">{{ tab_parts[0] }}</div>
              <div class="tab__content">{{ tab_parts[1] }}</div>
            {%- else -%}
              <div class="tab__title" tabindex="0">{{ section.settings.tabs_title }}</div>
              <div class="tab__content">{{ tab_parts[0] }}</div>
            {%- endif -%}
          </div>
        {%- endunless -%}
        {% include 'product-prescription' %}
      {%- endfor -%}

      {%- comment -%}
        Add the additional optional pages of tabs
      {%- endcomment -%}
      {%- if section.settings.tabs_global_page_1 != blank -%}
        <div class="tab tab--global-1">
          <div class="tab__title" tabindex="0">{{ pages[section.settings.tabs_global_page_1].title }}</div>
          <div class="tab__content">{{ pages[section.settings.tabs_global_page_1].content }}</div>
        </div>
      {%- endif -%}
      {%- if section.settings.tabs_global_page_2 != blank -%}
        <div class="tab tab--global-1">
          <div class="tab__title" tabindex="0">{{ pages[section.settings.tabs_global_page_2].title }}</div>
          <div class="tab__content">{{ pages[section.settings.tabs_global_page_2].content }}</div>
        </div>
      {%- endif -%}
      {%- if section.settings.tabs_global_page_3 != blank -%}
        <div class="tab tab--global-1">
          <div class="tab__title" tabindex="0">{{ pages[section.settings.tabs_global_page_3].title }}</div>
          <div class="tab__content">{{ pages[section.settings.tabs_global_page_3].content }}</div>
        </div>
      {%- endif -%}
    </div>
  {%- else -%}
    {%- comment -%}
      Display the normal description or first description part before the split
    {%- endcomment -%}
    {{ description_first_part }}
  {%- endif -%}
</div>

{%- if description_parts.size > 1 -%}
  <div class="additional-description rte">
    {%- for description_part in description_parts -%}
      {%- unless forloop.first -%}
        {{ description_part }}
      {%- endunless -%}
    {%- endfor -%}
  </div>
{%- endif -%}